body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
    font-family: Protest Guerrilla;
    font-size: 30px;
    text-decoration: underline;
  }
  
  main form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    border: none;
    vertical-align: top;
    background-color: black;
    color: white;
    font-family: Protest Guerrilla;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.15s;
  }
  
  input[type="submit"]:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.submit-button:hover {
    opacity: 0.8
    
  }
  
  footer {
    margin-top: 20px;
    text-align: center;
  }

  .navbar {
    background-color: black;
    color: white;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}

.navbar a {
    vertical-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
    color: white;
    text-decoration: underline;
    font-family: Protest Guerrilla;
}

.wiki-icon {
    width: 140px;
    height: 50px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 20px;
}
    
.icon-container {
    display: flex;
    align-items: flex-start;
}